body {
/*   width:80%; */
/*   width: 1450px; */
/*   height: 100%; */
    background-image:url("bg.jpg");
    background-color:white;
    background-repeat: repeat-x;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto 0 auto;
    min-width: 850px;
}

a {
    text-decoration: none;
}

html {
    background-color:#656565;
    display: table;
    margin: auto;
    padding:0px 10% 0px 10%;
    font-family: Arial, Helvetica;
    color: #656565;
    font-size: 13px;
    line-height: 150%;
    word-spacing: 2px;
/*    letter-spacing: 1px;*/
}

h1 {
    font-style: italic;
    font-size: 20px;
    color: #d5a17c;
    display: block;
}

h1 a {
    display: block;
    color: white;
    position: relative;
    bottom: 15px;
    font-size: 40px;
}

h2 {
    color: #b15e23;
}

h3 a {
    color: #3c1f0a;
    border-bottom: 1px dotted #000;
    display: block;
}

img {
    display: block;
}

.top_menu {
    display: table;
    width: 100%;
    margin: 93px 0 25px 0;
    font-size: 13px;
    text-align: center;
}

.top_menu a {
    color: white;
}

.top_menu a:hover:after {
    content: url("./menu_bullet.gif");
    display: block;
    position: relative;
    bottom: 5px;
    align-items: center;
}

.top_menu li {
    display: table-cell;
    padding: 0 5px 0 5px;
}

.top_menu ul {
    padding: 0;
    margin: 0;
}

#about_itw {
    padding-bottom: 115px;
}

#page {
    max-width: 1200px;
    padding: 20px 4% 0 4%;
}